{% extends "raidchileapp/base.html" %}
{% load static %}

{% block page_title %} Your Pending Reservations {% endblock page_title %}

{% block content %}

	<div class="w3-container w3-center w3-margin-top">
		<h2>Your Pending Reservations : {{ cart|length }} Tour{{ cart|length|pluralize }}</h2>
		<h6>If you reserve all the tours in a combo you'll get a discount per passenger!</h6>
	</div>

	<div class="w3-container w3-padding-32">
		<div class="w3-row">
			<a href="{% url 'raidchileapp:search_all_tours' %}" class="w3-button w3-padding-large w3-white w3-border w3-right w3-margin-right">Add more tours <i class="fa fa-angle-double-right"></i></a>
		</div>
		<table class="w3-margin-top w3-table-all">
			<thead>
				<tr class="w3-red">
					<th>Tour</th>
					<th class="w3-center">Passengers</th>
					<th class="w3-center">Prices</th>
					<th class="w3-center">Total Price</th>
					<th class="w3-center">Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cart %}
					{% with product=item.product %}
					<tr>
						<!-- Tour name -->
						<td class="middle-algn"><h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6></td>
						<!-- Tour passengers quantities form -->
						<td class="pax-cell">
							<form action="{% url 'cart:cart_add' product.id %}" method="POST" class="cart_add_form">
								{% csrf_token %}
								{{ item.update_quantity_form.update }}
								<p class="min_pax_error w3-small w3-text-red" style="display: none; margin: 0px auto;"><b>Minimum {{ product.min_pax_number }} Passengers!</b></p>
								<div class="w3-cell w3-mobile">
									{{ item.update_quantity_form.adult_quantity.label }}
									{{ item.update_quantity_form.adult_quantity }}
								</div>
								<div class="w3-cell w3-mobile">
									{{ item.update_quantity_form.children_quantity.label }}
									{{ item.update_quantity_form.children_quantity }}
								</div>
								<div class="w3-cell w3-mobile w3-cell-bottom">
									<input type="submit" value="Update" class="w3-button w3-border w3-blue submit-reserve">
									<div style="display: none;" class="min_pax">{{ product.min_pax_number }}</div>
								</div>
							</form>
						</td>
						<!-- Tour  prices -->
						<td class="middle-algn w3-center">
							<div class="w3-row">{{ item.update_quantity_form.adult_quantity.label }}:</div>
							<div class="w3-row number-font w3-small">CLP {{ item.adult_reg_price }}</div>
							<div class="w3-row">{{ item.update_quantity_form.children_quantity.label }}:</div>
							<div class="w3-row number-font w3-small">CLP {{ item.children_reg_price }}</div>
						</td>
						<!-- Tour total prices -->
						<td class="middle-algn number-font">
							<h6 class="number-font w3-medium">CLP {{ item.total_reg_price }}</h6>
						</td>
						<!-- Remove tour -->
						<td class="middle-algn w3-center">
							<a href="{% url 'cart:cart_remove' product.id %}"><i class="fa fa-fw fa-trash"></i>Remove</a>
						</td>
					</tr>
					{% endwith %}
				{% empty %}
				<tr>
					<td class="w3-center w3-padding-32 w3-opacity-min" colspan="6">
						<h3>You have no tour reservations yet!</h3>
					</td>
				</tr>
				{% endfor %}
				<tr class="w3-pale-red w3-large w3-text-dark-grey">
					<td style="text-align: right;" class="middle-algn"><b>Sub-Total</b></td>
					<td colspan="2"></td>
					<td class="number-font middle-algn" colspan="num">
						CLP {{ subtotal }}
					</td>
					<td colspan="1"></td>
				</tr>

				{% if combo %}
				<!-- Combo Discount row -->
					{% with tours=combo.tours.all %}
					<tr class="w3-pale-blue w3-large w3-text-dark-grey">
						<td style="text-align: right;" class="middle-algn"><b>{{ combo.name }} Discount</b></td>
						<td colspan="2" class="w3-small middle-algn">
							<ul class="small-tour-ul">
								{% for tour in tours %}
									<li>{{ tour.name }}</li>
								{% endfor %}
							</ul>
						</td>
						<td class="number-font middle-algn" colspan="num">
							CLP -{{ discount }}
						</td>
						<td colspan="1" class="w3-small middle-algn">
							(CLP {{ combo.combo_discount }} per passenger)
						</td>
					</tr>
					{% endwith %}
				{% endif %}
				<tr class="w3-red w3-large">
					<td style="text-align: right;" class="middle-algn"><b>Total</b></td>
					<td colspan="2"></td>
					<td class="number-font middle-algn" colspan="num">
						CLP {{ total }}
					</td>
					<td colspan="1"></td>
				</tr>
			</tbody>
		</table>
		<div class="w3-row w3-margin-bottom">
			<a {% if cart.items %}href="{% url 'orders:order_create' %}"{% endif %} class="w3-button w3-padding-large w3-blue w3-right w3-margin-right w3-margin-top {% if not cart %}w3-opacity-min disabled-pointer{% endif %}">Confirm Reservations <i class="fa fa-mail-forward"></i></a>
		</div>
	</div>

{% endblock content %}

{% block extra_js %}{% endblock extra_js %}