{% extends "raidchileapp/base.html" %}
{% load static %}

{% block page_title %} Your Pending Reservations {% endblock page_title %}

{% block content %}

	<div class="w3-container w3-center w3-margin-top">
		<h2>Your Pending Reservations : {{ cart|length }} Tour{{ cart|length|pluralize }}</h2>
		<h6>If you book at least two(2) Full-Day and one(1) Half-Day tours, you'll only pay sale prices!</h6>
	</div>
	<div class="w3-container w3-padding-32">
		<table class="w3-margin-top w3-table-all">
			<thead>
				<tr class="w3-red">
					<th>Tour</th>
					<th>Passengers</th>
					<th>Prices</th>
					<th>Total Price</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				{% for item in cart %}
					{% with product=item.product %}
					<tr>
						<!-- Tour name -->
						<td class="middle-algn"><h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6></td>
						<!-- Tour passengers quantities form -->
						<td class="pax-cell">
							<form action="{% url 'cart:cart_add' product.id %}" method="POST">
								{% csrf_token %}
								{{ item.update_quantity_form.update }}
									<div class="w3-cell w3-mobile">
										{{ item.update_quantity_form.adult_quantity.label }}
										{{ item.update_quantity_form.adult_quantity }}
									</div>
									<div class="w3-cell w3-mobile">
										{{ item.update_quantity_form.children_quantity.label }}
										{{ item.update_quantity_form.children_quantity }}
									</div>
									<div class="w3-cell w3-mobile w3-cell-bottom">
										<input type="submit" value="Update" class="w3-button w3-border w3-blue">
									</div>
							</form>
						</td>
						<!-- Tour regular prices -->
						<td class="middle-algn">
							<div class="w3-cell w3-cell-bottom">
								<div class="w3-row">{{ item.update_quantity_form.adult_quantity.label }}: ${{ item.adult_reg_price }}</div>
								<div class="w3-row">{{ item.update_quantity_form.children_quantity.label }}: ${{ item.children_reg_price }}</div>
							</div>
						</td>
						<!-- Tour total prices -->
						<td class="middle-algn">
							{% if cart|length > 2%}
								${{ item.total_sale_price }}
							{% else %}
								${{ item.total_reg_price }}
							{% endif %}
						</td>
						<!-- Remove tour -->
						<td class="middle-algn">
							<a href="{% url 'cart:cart_remove' product.id %}">Remove</a>
						</td>
					</tr>
					{% endwith %}
				{% empty %}
				<tr>
					<td class="w3-center w3-padding-32" colspan="6">
						<h3><em>You have no tour reservations yet!</em></h3>
					</td>
				</tr>
				{% endfor %}
				<tr class="w3-red">
					<td><b>Total</b></td>
					<td colspan="2"></td>
					<td colspan="num">
						{% if cart|length > 2%}
							<b > ${{ cart.get_total_sale_price }}</b>
						{% else %}
							<b>${{ cart.get_total_reg_price }}</b>
						{% endif %}
					</td>
					<td colspan="1"></td>
				</tr>
			</tbody>
		</table>
		<div class="w3-row">
			<a href="" class="w3-button w3-margin-top w3-large w3-blue w3-right w3-border w3-margin-right">Confirm Reservations</a>
			<a href="{% url 'raidchileapp:search_all_tours' %}" class="w3-button w3-large w3-margin-top w3-white w3-border w3-right w3-margin-right">Search More Tours</a>
		</div>
	</div>

{% endblock content %}

{% block extra_js %}{% endblock extra_js %}