@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(../fonts/Raleway-Regular.ttf) format('truetype');
}

body,h1,h2,h3,h4,h5,h6 {
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/*  ==========   Language Switcher Styles   ==========  */



#language-switch{
	outline : none;
}

.retracted-switch{
	border-radius: 20px 20px 20px 20px !important;
}

.extended-switch{
	border-radius: 20px 20px 0px 0px !important;
}

/* For mobile: */
#language-choices{
	border-radius: 0px 0px 20px 20px !important;
	padding-bottom: 8px !important;
}

.lang-flag-img{
	width: 35px;
}

.languages-container{
	position: fixed;
	top: 90px;
	right: 5px;
	z-index: 100;
}

@media only screen and (min-width: 601px) {
	/* For tablets and desktop: */
	#language-choices{
		padding-bottom: 12px !important;
	}

	.lang-flag-img{
		width: 45px;
	}

	.languages-container{
		top: 70px;
		right: 5px;
	}
}

/*  ==========   Header Styles   ==========  */

.main-banner{
	max-width: 1532px;
	min-height: 700px;
}
.banner-img {
	min-width: 1000px;
}

.home-banner-image{
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

/*  ==========   Home page content Styles   ==========  */

.home-content{
	max-width: 1532px;
}

.full-width-img{
	width: 100%;
}

.justify-text{
	text-align: justify;
	text-justify: inter-word;
}


.width30{
	width: 30px;
}

.bot-margin-23{
	margin-bottom: 23px;
}

button.searchbar-btn {
	border-left: none !important; /* Prevent double borders */
	cursor: pointer;
}

textarea.no-resize{
	resize: none;
}

.pointer-cursor{
	cursor:pointer
}

	/* For phones: */
.home-gallery-image{
	min-height: 400px;
	line-height: 400px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.home-gallery-desc{
	margin-top: 5px;
	height: 45px;
	width: 100%;
	overflow-y: auto;
}

@media only screen and (min-width: 601px) {
	/* For tablets: */
	.home-gallery-image{
		min-height: 250px;
		line-height: 250px;
	}
}

@media only screen and (min-width: 993px) {
	/* For desktop: */
	.home-gallery-image{
		min-height: 400px;
		line-height: 400px;
	}
}

/*  ==========   Tour Details content Styles   ==========  */

.hidden{
	display: none;
}

.slideshow-slide{

}

.slide-thumbnail{
	width: 100%;
	cursor:pointer;
}

.slideshow-area{
	max-width: 800px
}

.better-hr{
	border: 1px solid #AAA;
}

/*  ==========   Comment section Styles   ==========  */

.comment-box{
	max-width: 1024px;
}

.comment-right-padding{
	padding-right: 16px;
}

.avatar-mwidth{
	max-width: 96px;
}

/*  ==========   Search section Styles   ==========  */

ul#id_locations{
	list-style-type: none;
	padding-left: 0px;
}

.combo-header{
	min-height: 130px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
}

.search-header{
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-attachment: fixed !important;
}


.mytop-m{
	margin-top: 27px;
}

.vertical-category-tag{
	margin: 5px 0;
	padding: 10px 5px ;
}


	/* For phones: */
.search-gallery-image{
	min-height: 250px;
	line-height: 250px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.search-gallery-title{
	height: 55px;
	width: 100%;
	overflow-y: auto;
}

.combo-gallery-title{
	height: 35px;
	width: 100%;
	overflow-y: auto;
}

.combo-detail-tour-image{
	min-height: 400px;
	line-height: 400px;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

@media only screen and (min-width: 601px) {
	/* For tablets: */
	.search-gallery-image{
		min-height: 190px;
		line-height: 190px;
	}

	.vertical-category-tag{
		margin: 2px 0;
		padding: 0 2px;
	}

}

@media only screen and (min-width: 993px) {
	/* For desktop: */
	.search-gallery-image{
		min-height: 240px;
		line-height: 240px;
	}
}

/*  ==========   Cart Details Styles   ==========  */

.middle-algn{
	vertical-align: middle !important;
}

.pax-cell{
	width: 250px;
}

.number-font{
	font-family: sans-serif !important;
	text-align: center !important;
}

.disabled-pointer{
	cursor: not-allowed;
}

.small-tour-ul{
	margin: 0px;
	padding-left: 20px;
}