{% load humanize %} {% load i18n %} {% autoescape off %}
<h2>{% trans "Thank you for Confirming your Tour Reservations!" %}</h2>

<p>{% trans "Hi, this is an automatic message from Chile Raid" %}.</p>
<h3>{% blocktrans with order_id=order.id %}Tour Reservation Order #{{ order_id }}{% endblocktrans %}</h3>
<p>{% trans "You have confirmed the following tour reservations" %}:</p>

{% include 'emails/order_contents.html' %}

<p>
{% trans "If you have any questions, do NOT reply to this automated message, instead you can contact us at" %}:<br>
<br>
	<a href="{{ contact_url }}" style="padding-left: 15px; font-size: 16px">{{ contact_url }}</a><br>
<br>
{% trans "If your doubt or question is about this reservation order, please provide us with your reservation number in the message" %}.
</p>
<br>
<h4>{% trans "If you did not made this reservation order please disregard this email" %}.</h4>

{% trans "Cheers," %}<br>
<h4>{% trans "Chile Raid" %}.</h4><br>
{% endautoescape %}