{% if search_form %}
<form action="" method="GET">
	<div class="w3-row-padding" style="margin:0 -16px;">
		<div class="w3-col s12 w3-margin-bottom">
			<label><i class="fa fa-calendar-o"></i> Fecha de Reserva</label>
			{{ search_form.reservation_date }}
		</div>
	</div>
	<div class="w3-row-padding" style="margin:8px -16px;">
		<div class="w3-half w3-margin-bottom">
			<label><i class="fa fa-male"></i> Adultos</label>
			{{ search_form.adult_qty }}
		</div>
		<div class="w3-half">
			<label><i class="fa fa-child"></i> Niños</label>
			{{ search_form.kids_qty }}
		</div>
	</div>
	<div class="w3-row w3-padding" style="margin:8px -16px;">
		<div class="w3-col s9">
			{{ search_form.search_terms }}
		</div>
		<div class="w3-col s3">
			<button type="submit" class="w3-button w3-block w3-dark-grey w3-border searchbar-btn"><i class="fa fa-search fa-fw"></i> Buscar</button>
		</div>
	</div>
</form>
{% endif %}