<form class="w3-padding-16" action="" method="POST">
	{% csrf_token %}
	<div class="w3-row-padding">
		<div class="w3-half w3-margin-bottom">
			{{ contact_form.name }}
		</div>
		<div class="w3-half w3-margin-bottom">
			{{ contact_form.email }}
		</div>
	</div>
	<div class="w3-row-padding">
		<div class="w3-half w3-margin-bottom">
			{{ contact_form.phone_number }}
		</div>
		<div class="w3-half w3-margin-bottom">
			{{ contact_form.people_qty }}
		</div>
	</div>
	<div class="w3-row-padding">
		<div class="w3-col s12 w3-margin-bottom">
			{{ contact_form.message }}
		</div>
	</div>
	<div class="w3-row-padding">
		<div class="w3-half w3-margin-bottom">
			<button type="submit" class="w3-button w3-black w3-padding-large"><i class="fa fa-send fa-fw"></i> Enviar Mensaje</button>
		</div>
	</div>
</form>