{% load i18n %}
<!-- Footer -->
<footer class="w3-padding-32 w3-black w3-center">
	<button class="w3-button w3-gray w3-hide-medium w3-hide-large top-btns"><i class="fa fa-level-up fa-fw"></i>{% trans "Back to the Top" %}</button>
	<div class="w3-row">
		<div class="w3-col s2 w3-container"></div>
		<div class="w3-col s8">
			<h5 class="w3-center">{% trans "You can also find us at" %}</h5>
		</div>
		<div class="w3-col s2">
			<button class="w3-button w3-gray w3-hide-small w3-hide-medium top-btns"><i class="fa fa-level-up fa-fw"></i>{% trans "Back to the Top" %}</button>
			<button class="w3-button w3-gray w3-hide-small w3-hide-large top-btns"><i class="fa fa-level-up fa-fw"></i>{% trans "To Top" %}</button>
		</div>
	</div>
	<div class="w3-xlarge w3-padding-16">
		<a href="#"><i class="fa fa-facebook-official fa-3x fa-fw w3-hover-opacity"></i></a>
		<a href="#"><i class="fa fa-instagram fa-3x fa-fw w3-hover-opacity"></i></a>
	</div>
	<p>Developed by <a href="http://www.rocketlabsgroup.com/" target="_blank" class="w3-hover-text-green">RocketLabs</a></p>
</footer>