{% load static %}
<!-- Main Header/Banner -->
<header class="w3-display-container w3-content main-banner">
	<img class="w3-image banner-img" src="{% static 'img/hotel.jpg' %}" alt="The Hotel" width="1500" height="800">
	<div class="w3-display-left w3-padding w3-col l6 m8">
		<div class="w3-container w3-red">
			<h2><i class="fa fa-bus w3-margin-right"></i>Paseos</h2>
		</div>
		<div class="w3-container w3-white w3-padding-16">
			<form action="" target="">
				<div class="w3-row-padding" style="margin:0 -16px;">
					<div class="w3-half">
						<label><i class="fa fa-search-plus"></i> Términos de Busqueda</label>
						<input class="w3-input w3-border" type="text" name="SearchTerms">
					</div>
					<div class="w3-half w3-margin-bottom">
						<label><i class="fa fa-calendar-o"></i> Fecha de Reserva</label>
						<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="ReservationDate">
					</div>
				</div>
				<div class="w3-row-padding" style="margin:8px -16px;">
					<div class="w3-half w3-margin-bottom">
						<label><i class="fa fa-male"></i> Adultos</label>
						<input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6">
					</div>
					<div class="w3-half">
						<label><i class="fa fa-child"></i> Niños</label>
						<input class="w3-input w3-border" type="number" value="0" name="Kids" min="0" max="6">
					</div>
				</div>
				<button class="w3-button w3-dark-grey" type="submit"><i class="fa fa-search w3-margin-right"></i> Consultar disponibilidad</button>
			</form>
		</div>
	</div>
</header>