<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large" id="top">
	<a href="{% url 'raidchileapp:home' %}" class="w3-bar-item w3-button w3-red w3-hover-blue w3-mobile"><i class="fa fa-bus w3-margin-right"></i>Chile Raids</a>

	<a href="{% url 'raidchileapp:home' %}#tours" class="w3-bar-item w3-button w3-mobile">Tours</a>

	<a href="{% url 'raidchileapp:home' %}#about" class="w3-bar-item w3-button w3-mobile w3-hide-medium">About us</a>
	<a href="{% url 'raidchileapp:home' %}#about" class="w3-bar-item w3-button w3-mobile w3-hide-small w3-hide-large">About us</a>

	<a href="{% url 'raidchileapp:home' %}#contact" class="w3-bar-item w3-button w3-mobile">Contact</a>

	<a href="{% url 'cart:cart_detail' %}" class="w3-bar-item w3-button w3-right w3-pale-red w3-mobile w3-hide-medium">Reservations ({{ cart|length }})</a>
	<a href="{% url 'cart:cart_detail' %}" class="w3-bar-item w3-button w3-right w3-pale-red w3-mobile w3-hide-small w3-hide-large">Reservations ({{ cart|length }})</a>
</div>