{% load i18n %}
{% load static %}
<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large" id="top">
	<a href="{% url 'raidchileapp:home' %}" class="w3-bar-item w3-button w3-light-gray brand-a">
		<!--<i class="fa fa-bus w3-margin-right"></i>Chile Raid-->
		<img src="{% static 'img/chile_raid_navbar_logo.png' %}" class="brand-img">
	</a>

	<a href="{% url 'raidchileapp:search_all_tours' %}" class="w3-bar-item w3-padding-16 w3-button w3-hide-small">Tours</a>

	<a href="{% url 'raidchileapp:home' %}#about" class="w3-bar-item w3-padding-16 w3-button w3-hide-small">{% trans "About us" %}</a>

	<a href="{% url 'raidchileapp:home' %}#contact" class="w3-bar-item w3-padding-16 w3-button w3-hide-small">{% trans "Contact" %}</a>

	<a href="{% url 'cart:cart_detail' %}" class="w3-bar-item w3-padding-16 w3-button w3-right w3-pale-red w3-hide-small">
		{% blocktrans with cart_l=cart.items|length %}Reservations ({{ cart_l }}){% endblocktrans %}
	</a>

	<button class="w3-bar-item w3-red w3-button w3-right w3-hide-large w3-hide-medium" style="padding: 16px 24px;" id="navbar-toggle">
		<i class="fa fa-reorder"></i>
	</button>
</div>

<!--  Mobile Navbar Menu  -->
<div id="mobile-navbar" class="w3-bar-block w3-large w3-white w3-hide w3-hide-large w3-hide-medium w3-animate-opacity">
	<a href="{% url 'raidchileapp:search_all_tours' %}" class="w3-bar-item w3-button">Tours</a>
	<a href="{% url 'raidchileapp:home' %}#about" class="w3-bar-item w3-button">{% trans "About us" %}</a>
	<a href="{% url 'raidchileapp:home' %}#contact" class="w3-bar-item w3-button">{% trans "Contact" %}</a>
	<a href="{% url 'cart:cart_detail' %}" class="w3-bar-item w3-button w3-pale-red">
		{% blocktrans with cart_l=cart.items|length %}Reservations ({{ cart_l }}){% endblocktrans %}
	</a>
</div>