{% load static %}{% load i18n %}
<!-- User Reviews Section -->
<div class="w3-row w3-margin-bottom">
	<div class="w3-col l1 w3-container"></div>
	<div class="w3-col l10">
		<div class="w3-container w3-pale-red">
			<h3>{% trans "Reviews" %}</h3>
		</div>
		<div class="w3-container w3-white w3-padding-16">
			{% with reviews=review_list %}
				{% for review in reviews %}
					<!-- Sample comment 1 -->
					<div class="w3-row-padding w3-margin-bottom">
						<img class="w3-circle avatar-mwidth" src="{% static 'img/default_avatar.png' %}">
						<span class="w3-margin-left"><b> {{ review.full_name }}</b></span>
						<p class="justify-text" style="margin-top: 2px; margin-bottom: 2px;">
							{% for n in rating_range %}
								{% if review.rating >= n %}
									<span class="fa fa-star checked"></span>
								{% else %}
									<span class="fa fa-star"></span>
								{% endif %}
							{% endfor %}
						</p>
						<p class="justify-text w3-opacity-min" style="margin-top: 2px; margin-bottom: 2px;">{{ review.created_at }}</p>
						<p class="justify-text" style="margin-top: 5px;">{{ review.message|linebreaksbr }}</p>
					</div>
				{% empty %}
					<div class="w3-col s12 w3-center w3-padding-32">
						<div class="w3-content w3-light-gray w3-card-2 w3-padding-large">
							<i class="w3-text-dark-gray fa fa-frown-o fa-3x"></i>
							<h4><em>{% trans "There are no reviews for this product yet." %}</em></h4>
						</div>
					</div>
				{% endfor %}
			{% endwith %}

			{% if review_list.has_other_pages %}
				<div class="w3-center">
					<div class="w3-bar w3-border">
					{% if review_list.has_previous %}
						<a href="?page={{ review_list.previous_page_number }}" class="w3-bar-item w3-button">&laquo;</a>
					{% else %}
						<span class="w3-bar-item w3-button w3-opacity">&laquo;</span>
					{% endif %}
					{% for i in review_list.paginator.page_range %}
						{% if review_list.number == i %}
							<span class="w3-bar-item w3-button w3-red">{{ i }}</span>
						{% else %}
							<a href="?page={{ i }}" class="w3-bar-item w3-button">{{ i }}</a>
						{% endif %}
					{% endfor %}
					{% if review_list.has_next %}
						<a href="?page={{ review_list.next_page_number }}" class="w3-bar-item w3-button">&raquo;</a>
					{% else %}
						<span class="w3-bar-item w3-button w3-opacity">&raquo;</span>
					{% endif %}
					</div>
				</div>
			{% endif %}
		</div>

		<!-- Comment form -->
		{% include "raidchileapp/review_form.html" %}

	</div>
</div>