<div class="w3-container w3-border-right">
	<div class="w3-center">
		<h3 class="w3-border-bottom">Filtros</h3>
	</div>
	<!-- Filters start from here -->
	<div class="w3-border-bottom">
		<h5>Ubicaciones</h5>

		<input type="checkbox" checked="checked">
		<label>Ubicación 1</label><br>

		<input type="checkbox">
		<label>Ubicación 2</label><br>

		<input type="checkbox">
		<label>Ubicación 3</label><br>

		<input type="checkbox">
		<label>Ubicación 4</label><br class="w3-margin-bottom">
	</div>

	<div class="w3-border-bottom">
		<h5>Precio (CLP)</h5>
		<div class="w3-row w3-margin-bottom">
			<div class="w3-half w3-center">
				<label>Desde</label>
				<input class="w3-input w3-border w3-round"type="text" placeholder="Min">
			</div>
			<div class="w3-half w3-center">
				<label>Hasta</label>
				<input class="w3-input w3-border w3-round" type="text" placeholder="Max">
			</div>
		</div>
	</div>

	<div class="w3-border-bottom">
		<h5>Personas</h5>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-half w3-center">
				<label><i class="fa fa-male"></i> Adultos:</label>
				<input class="w3-input w3-border w3-round"type="number">
			</div>
			<div class="w3-half w3-center">
				<label><i class="fa fa-child"></i> Niños:</label>
				<input class="w3-input w3-border w3-round"type="number">
			</div>
		</div>

	</div>

</div>