{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div class="w3-container w3-border-right w3-hide-small w3-animate-left" id="filters-sidebar">
	<!-- Filters start from here -->

	<!-- Categories -->
	<div class="w3-border-bottom">
		<h5>{% trans "Categories" %}</h5>
		<div class="w3-row w3-margin-bottom">
			{% if type != 'combo' %}
				<a class="w3-tag w3-green w3-round w3-block vertical-category-tag w3-hover-opacity" href="{% url 'raidchileapp:search_all_combos' %}"><strong>{% trans "All Tour Combos" %}</strong></a>
				<!--<a class="w3-text-blue" href="{% url 'raidchileapp:search_all_combos' %}">{% trans "All Tour Combos" %}</a><br> -->
			{% else %}
				<strong class="w3-tag w3-green w3-round w3-block vertical-category-tag w3-opacity">{% trans "All Tour Combos" %}</strong>
				<!--<span class="w3-text-green"><strong>{% trans "All Tour Combos" %}</strong></span><br>-->
			{% endif %}

			{% if category or type == 'combo' %}
				<a class="w3-tag w3-blue w3-round w3-block vertical-category-tag w3-hover-opacity" href="{% url 'raidchileapp:search_all_tours' %}"><strong>{% trans "All Tours" %}</strong></a>
				<!--<a class="w3-text-blue" href="{% url 'raidchileapp:search_all_tours' %}">{% trans "All Tours" %}</a><br>-->
			{% else %}
				<strong class="w3-tag w3-blue w3-round w3-block vertical-category-tag w3-opacity">{% trans "All Tours" %}</strong>
				<!--<span class="w3-text-blue"><strong>{% trans "All Tours" %}</strong></span><br> -->
			{% endif %}
			{% if categories.exists %}
				{% with cats=categories.all %}
					{% for cat in cats %}
						{% if cat != category %}
							<a class="w3-tag w3-blue w3-round w3-block vertical-category-tag w3-hover-opacity" href="{{ cat.get_absolute_url }}"><strong>{{ cat }}</strong></a>
							<!--<a class="w3-text-blue" href="{{ cat.get_absolute_url }}">{{ cat }}</a><br> -->
						{% else %}
							<strong class="w3-tag w3-blue w3-round w3-block vertical-category-tag w3-opacity">{{ cat }}</strong>
							<!--<span class="w3-text-blue"><strong>{{ cat }}</strong></span><br> -->
						{% endif %}
					{% endfor %}
				{% endwith %}
			{% endif %}
		</div>
	</div>

	<div class="w3-border-bottom">
		<h5>{% trans "Locations" %}</h5>
		{{ search_form.locations }}
	</div>

	<div class="w3-border-bottom">
		<h5>{% trans "Price" %} (CLP)</h5>
		<div class="w3-row w3-margin-bottom">
			<div class="w3-half w3-center">
				<label>Min.</label>
				{{ search_form.min_price }}
			</div>
			<div class="w3-half w3-center">
				<label>Max.</label>
				{{ search_form.max_price }}
			</div>
		</div>
	</div>

	<div class="w3-center">
		<button type="submit" for="search-form" class="w3-button w3-block w3-dark-gray w3-margin-top"><i class="fa fa-sliders fa-fw"></i> {% trans "Apply" %}</button>
	</div>

	<div class="w3-container w3-padding-64 w3-hide-small"></div> <!-- Fill space so footer won't cut sidebar -->
</div>
<div class="w3-center">
	<button type="button" class="w3-button w3-red w3-large w3-hide-medium w3-hide-large w3-margin-top" id="filter-toggle"><i class="fa fa-sliders"></i> {% trans "Filters" %}</button>
</div>
