<div class="w3-container w3-border-right w3-hide-small w3-animate-top" id="filters-sidebar">
	<div class="w3-center">
		<button type="submit" for="search-form" class="w3-button w3-block w3-dark-gray w3-margin-top w3-hide-small"><i class="fa fa-sliders fa-fw"></i> Apply </button>
	</div>
	<!-- Filters start from here -->
	<div class="w3-border-bottom">
		<h5>Categories</h5>
		<div class="w3-row w3-margin-bottom">
			{% if category %}
				<a class="w3-text-blue" href="{% url 'raidchileapp:search_all_tours' %}">All Tours</a><br>
			{% else %}
				<span class="w3-text-blue">All Tours</span><br>
			{% endif %}
			{% for cat in categories %}
				{% if cat != category %}
					<a class="w3-text-blue" href="{{ cat.get_absolute_url }}">{{ cat.name }}</a><br>
				{% else %}
					<span class="w3-text-blue">{{ cat.name }}</span><br>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="w3-border-bottom">
		<h5>Locations</h5>
		{{ search_form.locations }}
	</div>

	<div class="w3-border-bottom">
		<h5>Price ($CLP)</h5>
		<div class="w3-row w3-margin-bottom">
			<div class="w3-half w3-center">
				<label>Min.</label>
				{{ search_form.min_price }}
				<!-- <input class="w3-input w3-border w3-round"type="text" placeholder="Min"> -->
			</div>
			<div class="w3-half w3-center">
				<label>Max.</label>
				{{ search_form.max_price }}
				<!--<input class="w3-input w3-border w3-round" type="text" placeholder="Max"> -->
			</div>
		</div>
	</div>
	<!--
	<div class="w3-border-bottom">
		<h5>Passengers</h5>

		<div class="w3-row-padding w3-margin-bottom">
			<div class="w3-half w3-center">
				<label>Adults:</label>
				{{ search_form.adult_qty }}
			</div>
			<div class="w3-half w3-center">
				<label>Children:</label>
				{{ search_form.kids_qty }}
			</div>
		</div>
	</div>
	-->



	<button type="submit" for="search-form" class="w3-button w3-block w3-dark-gray w3-margin-top w3-hide-medium w3-hide-large"><i class="fa fa-sliders fa-fw"></i> Apply </button>

	<div class="w3-container w3-padding-64 w3-hide-small"></div> <!-- Fill space so footer won't cut sidebar -->
</div>
<div class="w3-center">
	<button type="button" class="w3-button w3-red w3-large w3-hide-medium w3-hide-large w3-margin-top" id="filter-toggle"><i class="fa fa-sliders"></i> Filters</button>
</div>
