{% extends "raidchileapp/base.html" %}
{% load static %}{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block page_title %}{% if category %} {{ category }} {% else %} {% trans "Tour Combos" %} {% endif %} {% endblock page_title %}

{% block content %}
{% if LANGUAGE_CODE == 'es' %}{% url 'cart:cart_add_combo' category.slug_es as add_url %}
{% elif LANGUAGE_CODE == 'en' %}{% url 'cart:cart_add_combo' category.slug_en as add_url %}
{% elif LANGUAGE_CODE == 'pt-br' %}{% url 'cart:cart_add_combo' category.slug_pt_BR as add_url %}
{% endif %}
	<!-- Image header -->
	<div class="w3-container w3-padding-large combo-header" style="background:url('{{ category.image.image.url }}')"></div>

	<!--  Content wrapper row (Contains sidebar and search results)  -->
	<div class="w3-row w3-white">
		<div class="w3-col m3 l2">
			<!-- Filter Search Sidebar goes here-->
			{% include "raidchileapp/search_sidebar.html" %}
		</div>
		<div class="w3-col m9 l10">
			<!--  Search result rows  -->
			<div class="w3-center">
				{% if category %}
					<h2> {{ category }} </h2>
					{% if category.combo %}
						<h3>
							{% if LANGUAGE_CODE == 'es' %}{{ category.short_desc_es }}
							{% elif LANGUAGE_CODE == 'en' %}{{ category.short_desc_en }}
							{% elif LANGUAGE_CODE == 'pt-br' %}{{ category.short_desc_pt_BR }}
							{% endif %}
						</h3>
						<h5>
							{% blocktrans count min_pax=min_pax %}Minimun passengers: {{ min_pax }} person.{% plural %}Minimun passengers: {{ min_pax }} people.{% endblocktrans %}
						</h5>
						<div class="w3-row">
							<div class="w3-col s1 m2 l4 w3-container"></div>
							<div class="w3-col s10 m8 l4 ">
								<form action="{{ add_url }}" method="POST" id="cart_add_form">
									{% csrf_token %}
									{{ cart_product_form.update }}
									<p class="min_pax_error w3-small w3-text-red" style="display: none;">
										<b>
											{% blocktrans %}{{ min_pax }} is the minimum number of passengers!{% endblocktrans %}
										</b>
									</p>
									<div class="w3-row">
										<div class="w3-col s6 m4 w3-padding-small">
											{{ cart_product_form.adult_quantity.label }}
											{{ cart_product_form.adult_quantity }}
										</div>
										<div class="w3-col s6 m4 w3-padding-small">
											{{ cart_product_form.children_quantity.label }}
											{{ cart_product_form.children_quantity }}
										</div>
										<div class="w3-third w3-center">
											<button type="submit" for="cart_add_form" class="w3-button w3-xlarge w3-bold w3-red w3-margin-bottom w3-card-2 w3-margin w3-hide-small w3-hide-medium" id="submit-reserve">{% trans "Reserve Now" %}</button>
											<!-- Mobile button -->
											<button type="submit" for="cart_add_form" class="w3-button w3-bold w3-red w3-margin-bottom w3-card-2 w3-margin-left mytop-m w3-hide-large" id="submit-reserve">{% trans "Reserve Now!" %}</button>
											<div style="display: none;" class="min_pax">{{ min_pax }}</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					{% endif %}
				{% else %}
					<h2> {% trans "Tour Combo" %} </h2>
				{% endif %}
			</div>
			<!-- Include the search result rows -->
			{% include "raidchileapp/search_results.html" %}
		</div>
	</div>
{% endblock content %}

{% block extra_js %}{% endblock extra_js %}