{% extends "raidchileapp/base.html" %}
{% load static %}

{% block page_title %} Chile Raids | Viña del Mar + Valparaíso {% endblock page_title %}

{% block content %}

	<div class="w3-content home-content ">
		<div class="w3-container">
			<div class="w3-center">
				<h2>Viña del Mar + Valparaíso</h2>
			</div>

			<!--  Slideshow of the tour photos  -->
			<div class="w3-content slideshow-area">
				<img class="slideshow-slide w3-animate-left full-width-img" src="{% static 'img/room_single.jpg' %}">
				<img class="slideshow-slide w3-animate-left hidden full-width-img" src="{% static 'img/room_double.jpg' %}">
				<img class="slideshow-slide w3-animate-left hidden full-width-img" src="{% static 'img/room_deluxe.jpg' %}">

				<div class="w3-row-padding w3-section">
					<div class="w3-col s4">
						<img class="w3-opacity w3-opacity-off w3-hover-opacity-off slide-thumbnail" src="{% static 'img/room_single.jpg' %}">
					</div>
					<div class="w3-col s4">
						<img class="w3-opacity w3-hover-opacity-off slide-thumbnail" src="{% static 'img/room_double.jpg' %}">
					</div>
					<div class="w3-col s4">
						<img class="w3-opacity w3-hover-opacity-off slide-thumbnail" src="{% static 'img/room_deluxe.jpg' %}">
					</div>
				</div>
			</div>

			<!--  Description of Tour  -->
			<div class="w3-row-padding">
				<div class="w3-col s12 l6 w3-margin-bottom">
					<h2>Información</h2>
					<hr class="better-hr">
					<h6 class='justify-text'>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit
						esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
						id est laborum consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</h6>
					<h4>Precio: $30.000</h4>
				</div>
				<div class="w3-col s12 l6 w3-margin-bottom">
					<h2>Incluye</h2>
					<hr class="better-hr">
					<div class="w3-row-padding">
						<div class="w3-half w3-margin-bottom">
							<i class="fa fa-bus fa-2x fa-fw"></i><h5 class="w3-show-inline-block">Transporte</h5>
						</div>
						<div class="w3-half w3-margin-bottom">
							<i class="fa fa-cutlery fa-2x fa-fw"></i><h5 class="w3-show-inline-block">Comidas</h5>
						</div>
						<div class="w3-half w3-margin-bottom">
							<i class="fa fa-glass fa-2x fa-fw"></i><h5 class="w3-show-inline-block">Bar</h5>
						</div>
						<div class="w3-half w3-margin-bottom">
							<i class="fa fa-bed fa-2x fa-fw"></i><h5 class="w3-show-inline-block">Hospedaje</h5>
						</div>
					</div>
				</div>
			</div>

			<!-- Contact and Reservarion buttons -->
			<div class="w3-row w3-margin-bottom">
				<div class="w3-right">
					<a class="w3-button w3-xlarge w3-bold w3-red w3-margin-bottom w3-card-2 w3-margin" href="">Reservar</a>
				</div>
			</div>

			<!-- User Commentaries Section -->
			<div class="w3-row w3-margin-bottom">
				<div class="w3-col l1 w3-container"></div> <!-- Offset empty column -->
				<div class="w3-col l10">
					<div class="w3-container w3-red">
						<h3>Comentarios</h3>
					</div>
					<div class="w3-container w3-white ">
						<!-- Sample comment 1 -->
						<div class="w3-row-padding w3-padding-16">
							<div class="w3-col s2 w3-center">
								<img class="w3-circle avatar-mwidth" src="{% static 'img/default_avatar.png' %}">
							</div>
							<div class="w3-col s12 m10 l9">
								<p class="justify-text"><b>Nombre de Usuario</b>:<br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
						<!-- Sample comment 2 -->
						<div class="w3-row-padding ">
							<div class="w3-col s2 w3-center">
								<img class="w3-circle avatar-mwidth" src="{% static 'img/default_avatar.png' %}">
							</div>
							<div class="w3-col s12 m10 l9">
								<p class="justify-text"><b>Nombre de Usuario2</b>:<br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>

					<!-- Comment form -->
					<div class="w3-container w3-padding-16 w3-black w3-card w3-margin-top">
						<h3>Queremos conocer tu opinión</h3>
						<form action="" method="POST">
							{% csrf_token %}
							<div class="w3-row-padding">
								<div class="w3-half w3-margin-bottom">
									{{ comment_form.name }}
								</div>
								<div class="w3-half w3-margin-bottom">
									{{ comment_form.email }}
								</div>
							</div>
							<div class="w3-row-padding">
								<div class="w3-col s12 w3-margin-bottom">
									{{ comment_form.comment }}
								</div>
							</div>
							<div class="w3-row-padding">
								<div class="w3-half w3-margin-bottom">
									<button type="submit" class="w3-button w3-red w3-margin-top"><i class="fa fa-send fa-fw"></i> Enviar Comentario</button>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>

		</div>
	</div>
{% endblock content %}

{% block extra_js %}
		<script src="{% static 'js/slideshow.js' %}" ></script>
{% endblock extra_js %}